<div id="theme-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!--
            ********************************************************
                Theme Intro
            ********************************************************
        -->
      <div class="theme theme-intro">
        <div class="theme-intro-img">
          <img class="intro-img" src="assets/images/home-page/cutout-tech.jpeg">
        </div>
        <div class="theme-intro-txt">
          <div class="intro-txt">
            <h1>OUR THEME</h1>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quod laboriosam alias labore, eligendi corporis soluta magnam eaque sint, ratione reprehenderit minima quo sequi molestiae, earum laborum. Facere, delectus assumenda.</p>
            <br>
            <div class="btn-red"> 
              LEARN MORE
            </div>
          </div>
        </div>        
      </div>
    </div>

    
    
  </div>
  <a class="carousel-control-prev" href="#theme-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#theme-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span> 
    <span class="sr-only">Next</span>
  </a>
</div>