
<div class="events-wrapper">
    <div class="navigation-bar">
        <div class="logo" style="cursor: pointer;" (click)="toHome()">
            <h1 style="color: white;">Oculus</h1>
        </div>
        <div class="open-nav" (click)="onOpenNav()">
            <div class="nav-burger">
                <img src="assets/images/menu.png">
            </div>
            <div class="nav-text">Menu</div>
        </div>
    </div>

    <div class="event-header-txt">
        <h1>EVENTS</h1>
    </div>

    <div class="events-intro">

    </div>

    <div class="events-container">
        <div class="event">
            <div class="event-img">
                <img src="https://images.ctfassets.net/t5r05c22euki/4cjltOY1uDVJz7XrsrJY5Z/b75fb465ed749182e9cdd9653bae260c/Melissa_Events_1290x840.jpg">
            </div>
            <div class="event-txt para-text">
                <h3>Technical Events</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores cupiditate illo, laudantium, eligendi tempore dolor rem vel atque est ut modi fugiat consequuntur consectetur illum, commodi eaque? Incidunt, ratione?</p>
                <br>
                <div class="event-btn" (click)="onClickTech()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="https://images.ctfassets.net/t5r05c22euki/4cjltOY1uDVJz7XrsrJY5Z/b75fb465ed749182e9cdd9653bae260c/Melissa_Events_1290x840.jpg">
            </div>
            <div class="event-txt">
                <h3>Literary Events</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores cupiditate illo, laudantium, eligendi tempore dolor rem vel atque est ut modi fugiat consequuntur consectetur illum, commodi eaque? Incidunt, ratione?</p>
                <br>
                <div class="event-btn" (click)="onClickLit()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="https://images.ctfassets.net/t5r05c22euki/4cjltOY1uDVJz7XrsrJY5Z/b75fb465ed749182e9cdd9653bae260c/Melissa_Events_1290x840.jpg">
            </div>
            <div class="event-txt">
                <h3>Featured Events</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores cupiditate illo, laudantium, eligendi tempore dolor rem vel atque est ut modi fugiat consequuntur consectetur illum, commodi eaque? Incidunt, ratione?</p>
                <br>
                <div class="event-btn" (click)="onClickFeat()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="https://images.ctfassets.net/t5r05c22euki/4cjltOY1uDVJz7XrsrJY5Z/b75fb465ed749182e9cdd9653bae260c/Melissa_Events_1290x840.jpg">
            </div>
            <div class="event-txt">
                <h3>Performing Arts</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores cupiditate illo, laudantium, eligendi tempore dolor rem vel atque est ut modi fugiat consequuntur consectetur illum, commodi eaque? Incidunt, ratione?</p>
                <br>
                <div class="event-btn" (click)="onClickPArts()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="https://images.ctfassets.net/t5r05c22euki/4cjltOY1uDVJz7XrsrJY5Z/b75fb465ed749182e9cdd9653bae260c/Melissa_Events_1290x840.jpg">
            </div>
            <div class="event-txt">
                <h3>Fun Events</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores cupiditate illo, laudantium, eligendi tempore dolor rem vel atque est ut modi fugiat consequuntur consectetur illum, commodi eaque? Incidunt, ratione?</p>
                <br>
                <div class="event-btn" (click)="onClickFun()">See Events</div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>