
<div class="events-wrapper">
    <div class="navigation-bar">
        <div class="logo" style="cursor: pointer;" (click)="toHome()">
            <h1 style="color: white;">Oculus</h1>
        </div>
        <div class="open-nav" (click)="onOpenNav()">
            <div class="nav-burger">
                <img src="assets/images/menu.png">
            </div>
            <div class="nav-text">Menu</div>
        </div>
    </div>

    <div class="event-header-txt">
        <h1 style="font-family: 'Gallow Tree';font-size: 5em;">EVENTS</h1>
    </div>


    <div class="events-container">
        <div class="event">
            <div class="event-img">
                <img src="assets/images/events/VSM.JPG">
            </div>
            <div class="event-txt para-text">
                <h3>Technical Events</h3>
                <br>
                <p>Think you have the tech skills to pay the bills? Can you code your way out of any problem and hack your way to any solution? Want a platform to showcase your robotics skills? Meet industry leaders hear what they have to say? Then come on and be a part of Oculus Tech Events!
                </p>
                <br>
                <div class="event-btn" (click)="onClickTech()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="assets/images/events/LitEvent.JPG">
            </div>
            <div class="event-txt">
                <h3>Literary Events</h3>
                <br>
                <p>Remember when we were kids and we wanted to do it all? Some of us wanted to be leaders, some of us wanted to be storytellers. Come realise those dreams with our amazing literary events. Step into the shoes of a diplomat and save the world or take a minute to speak your heart out. Hear real stories from real people. Come, interact, live
                </p>
                <br>
                <div class="event-btn" (click)="onClickLit()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="assets/images/events/FeatEvent.jpg">
            </div>
            <div class="event-txt">
                <h3>Featured Events</h3>
                <br>
                <p>Oculus showcases the best of SPIT and the best of Oculus, is showcased through the several Featured Events that we have in store for you. Showcase your hidden talents and be part of an appreciative community at the Open Mic by the Lake</p>
                <br>
                <div class="event-btn" (click)="onClickFeat()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="assets/images/events/WOB.JPG">
            </div>
            <div class="event-txt">
                <h3>Performing Arts</h3>
                <br>
                <p>Sing like Beyonce, Dance like Beyonce, and dress like Beyonce. We can't help the fact that Beyonce can do it all, but at Oculus' cultural showcase so can you! Fashion show, dance competition, singing competition you name it, we got it! Participate and hear the crowd roar your name only at Oculus</p>
                <br>
                <div class="event-btn" (click)="onClickPArts()">See Events</div>
            </div>
        </div>
        <div class="event">
            <div class="event-img">
                <img src="assets/images/events/AEJ.JPG">
            </div>
            <div class="event-txt">
                <h3>Fun Events</h3>
                <br>
                <p>Competition can be exhausting and don't even get us started on the academic burden we face as college students. It's time to let loose the shackles and let our hair down. Oculus fun events have something for everyone. From bouncing around in an inflated ball to singing out you favorite songs, Oculus sees all!</p>
                <br>
                <div class="event-btn" (click)="onClickFun()">See Events</div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>