

.navigation-bar{
    padding: 0.5em 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.open-nav{
    color: #FA3A61;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    cursor: pointer;
    padding: 1em;
}

.open-nav:hover{
    background-color: #212c3d;
}


.open-nav img{
    width: 42px;
    height: auto;
}

.open-nav .nav-text{
    font-weight: bold;
    margin-left: 0.7em;
    text-transform: uppercase;
}


.events-wrapper {
    background: linear-gradient(135deg, #1e1f33 15%, #354153 73%, #354153 85%);
}

.event-header-txt {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6FAFAB;
    
}



.events-container {
    padding: 0em 5em;
}

.event {
    background-color: white;
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.event:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.event-img {
    width: 50%;
}

.event-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.event-txt {
    width: 50%;
    padding: 6em;
}

.event-txt h3 {
    color: #6FAFAB;
    font-weight: lighter;
    text-transform: uppercase;
}

.event-btn {
    width: fit-content;
    height: fit-content;
    border: 1px solid #FA3A61;
    color: #FA3A61;
    text-transform: uppercase;
    padding: 0.5em 2em;
    cursor: pointer;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {}

@media all and (max-width: 480px) {

    .events-container{
        padding: 0;
        margin-top: 2em;
        margin: 2em 2em;
    }

    .event{
        display: flex;
        flex-direction: column;
    }

    .event-img{
        width: 100%;
    }

    .event-txt{
        width: 100%;
        margin: 0;
        padding: 2em 2em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigation-bar{
        padding: 0 1em;
    }

    .open-nav .nav-text{
        display: none;
    }


}