<!--
***********************************************************************************************************
    Oculus LOGO
***********************************************************************************************************
-->


<div class="section-one">
    <video playsinline="playsinline" oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay="autoplay" muted="muted" loop="loop">
        <source src="assets/videos/Oculus_web_animation.mp4" type="video/mp4">
      </video>
    <div class="hero hero-txt">
        <img src="assets/images/home-page/herotxt.svg" alt="oculus-now" class="hero-img">
    </div>

    <div class="hero hero-btn">
        <div class="register-btn">
            <p class="glitch" data-text="Watch the trailer">Watch the trailer</p>
        </div>
    </div>

    <div class="hero hero-scroll">
        <div class="scroll-txt">
            <p style="text-transform: uppercase;transform: translateY(10px);">Scroll</p>
            <img class="animated bounce" src="assets/images/home-page/arrow-down.svg" height="20" width="20"
                alt="scroll-down">
        </div>
    </div>
</div>


<!--
***********************************************************************************************************
    Theme Stuff
***********************************************************************************************************
-->


<div class="section-two">
    <div class="intro-img">
        <img src="assets/images/home-page/cutout-tech.jpeg" alt="why now">
    </div>
    <div class="intro-txt">
        <h1>our theme</h1>
        <br>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, quibusdam? Laborum voluptatem fuga non
            nihil distinctio similique modi maiores facilis consequuntur ipsa odio rerum sapiente dolor quod minus,
            officia sed.</p>
        <br>
        <br>
        <div class="intro-btn">
            Learn More
        </div>
    </div>
</div>


<!--
***********************************************************************************************************
    Events
***********************************************************************************************************
-->


<div class="section-three">
    <div class="events-title">
        <h1>Events</h1>
    </div>
    <div class="events-wrapper">
        <div class="event circle1">
            <div class="event-img">
                <div style="position: relative;">
                    <svg class="dashed-ring">
                        <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                            fill="transparent" r="50%" cx="50%" cy="50%"></circle>
                    </svg>
                    <div style="position: absolute;top: 50%;left:50%;">
                        Text
                    </div>
                </div>                
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Technical<br>Events</div>
        </div>
        <div class="event circle2">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="transparent" r="50%" cx="50%" cy="50%"></circle>
                </svg>
            </div><br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Literary<br>Events</div>
        </div>
        <div class="event circle3">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="transparent" r="50%" cx="50%" cy="50%"></circle>
                </svg>
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Featured<br>Events</div>
        </div>
        <div class="event circle4">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="transparent" r="50%" cx="50%" cy="50%"></circle>
                </svg>
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Performing<br>Arts</div>
        </div>
        <div class="event circle5">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="transparent" r="50%" cx="50%" cy="50%"></circle>
                </svg>
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Fun<br>Events</div>
        </div>
    </div>
    <div class="event-btn-container">
        <button class="btn btn-outline-danger mb-5">Discover Events</button>
    </div>
</div>



<!--
***********************************************************************************************************
    Advertizement for app
***********************************************************************************************************
-->

<div class="section-four">
    <div class="ad-img">
        <img src="assets/images/home-page/App_UI.png">
    </div>
    <div class="ad-text">
        <h1>Oculus 2020</h1>
        <h2>Official App</h2>
        <br>
        <p class="lead" style="padding-right: 1em;">One stop for all the latest updates and bookings of your favourite
            events at Oculus 2020</p>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.spit.fest.oculus&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
            target="__blank"><img id="badge" alt="Get it on Google Play"
                src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a>
    </div>
</div>



<!--<div class="section-four">
    <svg class="dashed-ring">
        <circle style="animation-duration: 140s; animation-direction: reverse;" stroke-width="1" fill="transparent"
            r="50%" cx="50%" cy="50%"></circle>
    </svg>    
</div>-->

<footer>
    <div class="footer-main">
        <div class="footer-logo">
            <img src="assets/images/home-page/NOW_Oculus.png" alt="oculus logo">
        </div>
        <div class="vl"></div>
        <div class="footer-links">
            <h2>Oculus</h2>
            <br>
            <p>Trailer</p>
            <p>Events</p>
            <p>About Us</p>
            <p>Sponsors</p>
        </div>
        <div class="vl"></div>
        <div class="footer-social">
            <h2>Join Us</h2>
            <br>
            <div class="footer-social-icons">
                <a href="https://www.facebook.com/OculusSeesAll/" target="__blank">
                    <i class='fab fa-facebook-f' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://mobile.twitter.com/OculusSeesAll" target="__blank">
                    <i class='fab fa-twitter' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://www.instagram.com/o.c.u.l.u.s_s.p.i.t/" target="__blank">
                    <i class='fab fa-instagram' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://www.linkedin.com/company/oculusseesall/" target="__blank">
                    <i class='fab fa-linkedin-in' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://www.youtube.com/channel/UCm5gXAKIwUQTuGngoGlM4pg" target="__blank">
                    <i class='fab fa-youtube' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
            </div>
            <br>
            <br>
            <h2>Address</h2>
            <p style="padding-top: 1em;text-transform: capitalize;">Bharatiya Vidya Bhavans Sardar Patel Institute of
                Technology, Bhavans Campus, Munshi Nagar, Andheri
                (West), Mumbai, Maharashtra 400058</p>

        </div>
        <div class="vl"></div>
        <div class="footer-sponsor">
            <h2>Title Sponsor</h2>
            <img src="assets/images/home-page/NOW_Oculus.png" alt="oculus logo">
        </div>
    </div>
    <div class="bottom-footer">
        &copy; Sardar Patel Institute of Technology
    </div>
</footer>
<!--
<script>
    // Accepts any class name
    var rellax = new Rellax('.intro-img');
  </script>

  -->



<!-- Burger menu Icon -->
<div class="open-nav" (click)="onOpenNav()" >
    <div class="nav-burger">
        <img src="assets/images/menu.png">
    </div>
    <div class="nav-text">Menu</div>
</div>

<!-- Top Logo  -->

