<!--
***********************************************************************************************************
    Oculus LOGO
***********************************************************************************************************
-->


<div class="section-one">
    <audio autoplay loop>
        <source src="johann_sebastian_bach_air.mp3">
    </audio>
    <video playsinline="playsinline" oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay="autoplay"
        muted="muted" loop="loop">
        <source src="assets/videos/Oculus_web_animation.mp4" type="video/mp4">
    </video>
    <div class="hero hero-txt">
        <img src="assets/images/home-page/herotxt.svg" alt="oculus-now" class="hero-img star">
    </div>

    <div class="hero hero-btn">
        <a href="https://www.youtube.com/channel/UCm5gXAKIwUQTuGngoGlM4pg" target="__blank" style="color: white;">
            <div class="register-btn">
                <p class="glitch" data-text="Watch the trailer">Watch the trailer</p>
            </div>
        </a>
    </div>


    <div class="hero hero-scroll">
        <div class="scroll-txt">
            <p style="text-transform: uppercase;transform: translateY(10px);">Scroll</p>
            <img class="animated bounce" src="assets/images/home-page/arrow-down.svg" height="20" width="20"
                alt="scroll-down">
        </div>
    </div>
</div>


<!--
***********************************************************************************************************
    Theme Stuff
***********************************************************************************************************
-->
<!--
<div class="section-two">
    
    <div class="content"><h1 class="content_h1">NOW</h1>
    
    </div>
    <div class="content_p">
        <p class="now_p">
            NOW is the time to take action,<br> NOW is the time to celebrate,<br> NOW is the time to change,<br> NOW is the time to appreciate.
        </p>
        <p class="now_p">
            We are born in such a time where we have the best<br> amenitites,services and overall lifestyle.<br> We are born in an era of great imbalance,<br> where we have best of things but we have to take action<br> NOW<br> to servive as species.
        </p>
    </div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
    <defs>
      <mask id="MASK" maskunits="userSpaceOnUse"
                maskcontentunits="userSpaceOnUse">
        <image 
          xlink:href="https://media.giphy.com/media/tIwmTQ64D52XTuL8xd/giphy.gif" 
          height="100%"
          width="100%"/>
      </mask>      
    </defs>
    <g mask="url(#MASK)">
    <image x="0" y="0%" class="space" href="https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/giphy.gif" 
          height="100%" width="100%"/>
    </g>
  </svg>
  
  <div class="canvasWrapper">
  </div>
  </div>
  -->
  <!--
<div class="section-two">
    <div class="now">
        <img src="assets/images/home-page/NOW_Oculus.png" alt="oculus logo">
    </div>

    <div class='wrapper'>
        <div class='iron-man-wrapper'>
            <div class='tony-stark'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Tony_Stark.svg'>
            </div>

            <div class='arc-reactor'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Arc_Reactor.svg'>
            </div>

            <div class='iron-man-helmet'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Iron_Man_Helmet.svg'>
            </div>

            <div class='iron-man-left-arm'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Iron_Man_Left_Arm.svg'>
                <div class='flame-left-hand'>
                </div>
            </div>

            <div class='iron-man-right-arm'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Iron_Man_Right_Arm.svg'>
                <div class='flame-right-hand'>
                </div>
            </div>

            <div class='iron-man-left-leg'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Iron_Man_Left_Leg.svg'>
                <div class='flame-left-leg'>
                </div>
            </div>

            <div class='iron-man-right-leg'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Iron_Man_Right_Leg.svg'>
                <div class='flame-right-leg'>
                </div>
            </div>

            <div class='iron-man-chest'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/651105/Iron_Man_Chest.svg'>
            </div>
        </div>
        <div class='shadow'>
        </div>
    </div>

    <div class="content_p">
        <p class="now_p">
            NOW is the time to take action,<br> NOW is the time to celebrate,<br> NOW is the time to change,<br> NOW is
            the time to appreciate.
        </p>
        <p class="now_p">
            We are born in such a time where we have the best<br> amenitites,services and overall lifestyle.<br> We are
            born in an era of great imbalance,<br> where we have best of things but we have to take action<br> NOW<br>
            to servive as species.
        </p>
    </div>
</div>
-->
<!--
    TEAM
-->
<section class="section s4">
    <h1 id="t-h1">OUR TEAM</h1>
    <div id="t-initial" class="floating">
        <div class="t-head" id="t-ch-1">
            <div class="t-initial-header">
                <p>Chairs</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-2">
            <div class="t-initial-header">
                <p>Creative</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-3">
            <div class="t-initial-header">
                <p>Technical</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-4">
            <div class="t-initial-header">
                <p>Events</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-5">
            <div class="t-initial-header">
                <p>Hospitality</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-6">
            <div class="t-initial-header">
                <p>Marketing</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-7">
            <div class="t-initial-header">
                <p>Operations</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-8">
            <div class="t-initial-header">
                <p>Public Relation</p>
            </div>
        </div>
        <div class="t-head" id="t-ch-9">
            <div class="t-initial-header">
                <p>Photography</p>
            </div>
        </div>
    </div>

</section>

<!--
***********************************************************************************************************
    Events
***********************************************************************************************************
-->


<div class="section-three">
    <div class="events-title">
        <h1>Events</h1>
    </div>
    <div class="events-wrapper">
        <div class="event circle1" (click)="onTechEventsClick()">
            <div class="event-img">
                <div style="position: relative;">
                    <svg class="dashed-ring">
                        <image x="-20" y="-60" xlink:href="assets/images/home-page/VSM.png" height="340" width="340" />
                        <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                            fill="url(#image)" r="50%" cx="50%" cy="50%"></circle>

                    </svg>
                    <div style="position: absolute;top: 50%;left:50%;">

                    </div>
                </div>
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Technical<br>Events</div>
        </div>
        <div class="event circle2" (click)="onLiteraryEventsClick()">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <image x="-51" y="-65" xlink:href="assets/images/home-page/MUN.png" height="351" width="351" />
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="url(#image)" r="50%" cx="50%" cy="50%"></circle>

                </svg>
            </div><br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Literary<br>Events</div>
        </div>
        <div class="event circle3" (click)="onFeaturedEventsClick()">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <image x="-225" y="-130" xlink:href="assets/images/home-page/AmitMishra.png" height="450"
                        width="450" />
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="url(#image)" r="50%" cx="50%" cy="50%"></circle>

                </svg>
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Featured<br>Events</div>
        </div>
        <div class="event circle4" (click)="onPerformingArtsClick()">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <image x="-58" y="-90" xlink:href="assets/images/home-page/AEJ_circle.png" height="400"
                        width="400" />
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="url(#image)" r="50%" cx="50%" cy="50%"></circle>

                </svg>
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Performing<br>Arts</div>
        </div>
        <div class="event circle5" (click)="onFunEventsClick()">
            <div style="position: relative;">
                <svg class="dashed-ring">
                    <image x="-128" y="-63" xlink:href="assets/images/home-page/Zorbing.png" height="350" width="350" />
                    <circle style="animation-duration: 90s; animation-direction: reverse;" stroke-width="1"
                        fill="url(#image)" r="50%" cx="50%" cy="50%"></circle>

                </svg>
            </div>
            <br>
            <div class="event-txt" style="text-transform: uppercase;font-size: large;">Fun<br>Events</div>
        </div>
    </div>
</div>



<!--
***********************************************************************************************************
    Advertizement for app
***********************************************************************************************************
-->

<div class="section-four">
    <div class="ad-img">
        <img src="assets/images/home-page/App_UI.png">
    </div>
    <div class="ad-text">
        <h1>Oculus 2020</h1>
        <h2>Official App</h2>
        <br>
        <p class="lead" style="padding-right: 1em;">One stop for all the latest updates and bookings of your favourite
            events at Oculus 2020</p>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.spit.fest.oculus&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
            target="__blank"><img id="badge" alt="Get it on Google Play"
                src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a>
    </div>
</div>



<!--<div class="section-four">
    <svg class="dashed-ring">
        <circle style="animation-duration: 140s; animation-direction: reverse;" stroke-width="1" fill="transparent"
            r="50%" cx="50%" cy="50%"></circle>
    </svg>    
</div>-->

<footer>
    <div class="footer-main">
        <div class="footer-logo">
            <img src="assets/images/home-page/NOW_Oculus.png" alt="oculus logo">
        </div>
        <div class="vl"></div>
        <div class="footer-links">
            <h2>Oculus</h2>
            <br>
            <p>Trailer</p>
            <p>Events</p>
            <p>About Us</p>
            <p>Sponsors</p>
        </div>
        <div class="vl"></div>
        <div class="footer-social">
            <h2>Join Us</h2>
            <br>
            <div class="footer-social-icons">
                <a href="https://www.facebook.com/OculusSeesAll/" target="__blank">
                    <i class='fab fa-facebook-f' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://mobile.twitter.com/OculusSeesAll" target="__blank">
                    <i class='fab fa-twitter' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://www.instagram.com/o.c.u.l.u.s_s.p.i.t/" target="__blank">
                    <i class='fab fa-instagram' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://www.linkedin.com/company/oculusseesall/" target="__blank">
                    <i class='fab fa-linkedin-in' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
                <a href="https://www.youtube.com/channel/UCm5gXAKIwUQTuGngoGlM4pg" target="__blank">
                    <i class='fab fa-youtube' style='font-size:24px;color:#ECF6F7;margin-right: 1em;'></i>
                </a>
            </div>
            <br>
            <br>
            <h2>Address</h2>
            <p style="padding-top: 1em;text-transform: capitalize;">Bharatiya Vidya Bhavans Sardar Patel Institute of
                Technology, Bhavans Campus, Munshi Nagar, Andheri
                (West), Mumbai, Maharashtra 400058</p>

        </div>
        <div class="vl"></div>
        <div class="footer-sponsor">
            <h2>Title Sponsor</h2>
            <img src="assets/images/home-page/NOW_Oculus.png" alt="oculus logo">
        </div>
    </div>
    <div class="bottom-footer">
        Sardar Patel Institute of Technology
    </div>
</footer>
<!--
<script>
    // Accepts any class name
    var rellax = new Rellax('.intro-img');
  </script>

  -->



<!-- Burger menu Icon -->
<div class="open-nav" (click)="onOpenNav()">
    <div class="nav-burger">
        <img src="assets/images/menu.png">
    </div>
    <div class="nav-text">Menu</div>
</div>

<!-- Top Logo  -->