<div style="background: linear-gradient(135deg, #1e1f33 15%, #354153 73%, #354153 85%);">
    <div class="navigation-bar">
        <div class="logo" style="cursor: pointer;" (click)="toHome()">
            <h1>Oculus</h1>
        </div>
        <div class="open-nav" (click)="onOpenNav()">
            <div class="nav-burger">
                <img src="assets/images/menu.png">
            </div>
            <div class="nav-text">Menu</div>
        </div>

    </div>

    <div class="event-header-txt">
        <h1 style="font-size: 2.5em;text-transform: uppercase;">Sponsors - 2019</h1>
    </div>
    
    <div class="sponsors-list">
        <h1 style="color: #ffffff;">Powered By</h1>
        <br>
        <br>
        <div class="sponsors-wrapper">
            <div class="sponsor sponsor1">
                <img src="assets/images/Sponsors/Title/Godrej/godrej properties.jpeg" alt="Godrej">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="sponsors-list">
        <h1 style="color: #ffffff;">Powered By</h1>
        <br>
        <br>
        <div class="sponsors-wrapper">
            <div class="sponsor sponsor1">
                <img src="assets/images/Sponsors/Title/Godrej/godrej properties.jpeg" alt="Godrej">
            </div>
        </div>
    </div>
</div>