<div style="background: linear-gradient(135deg, #1e1f33 15%, #354153 73%, #354153 85%);">
    <div class="navigation-bar">
        <div class="logo" style="cursor: pointer;" (click)="toHome()">
            <h1 style="color: white;">Oculus</h1>
        </div>
        <div class="open-nav" (click)="onOpenNav()">
            <div class="nav-burger">
                <img src="assets/images/menu.png">
            </div>
            <div class="nav-text">Menu</div>
        </div>
    </div>
    <section class="container">
        <div class="page-header">
            <h1 style="padding: 15px;text-transform: uppercase;font-family: 'Gallow Tree';color: #6FAFAB;text-align: center;">Fun Events</h1>
            <br>
            <br>
        </div>
        <div class="row active-with-click">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Red">
                    <h2>
                        <span>IPL Auction</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            8th,9th February
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="codatron" class="img-responsive" src="assets/images/events/IPL Auction.jpg">
                        </div>
                        <div class="mc-description">
                            Be the bidder in the real IPL auction, Raise your plaque card and buy the best 11 for your
                            team
                            from your virtual money. Enjoy the twists of storylines and interesting power cards.
                            Experience
                            the feeling of a real owner and relish the beauty of the biggest fun event if oculus.</div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Pink">
                    <h2>
                        <span>Paintball</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            8th, 9th February
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="codatron" class="img-responsive" src="assets/images/events/Paintball.jpg">
                        </div>
                        <div class="mc-description">
                            A combat of Radiant colours!
                            Get overwhelmed with the idea to drop the stress out. There will be provisions of Gears and an environment with adventures of real life PUBG and COD. The event can be enjoyed in two teams of 4. The game will run on a stretch of 15 minutes with 3 rounds. So be ready to Gear up!!
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Purple">
                    <h2>
                        <span>Hogathon</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            8th, 9th Feb
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="assets/images/events/app/Hogathon_1.jpg">
                        </div>
                        <div class="mc-description">
                            The Annual Hunger Games have begun as Hogathon invites those with an appetite to win and
                            bring glory to their branch. The contestants will gorge themselves on mouth watering dishes
                            spread over three rounds. The fastest to finish from each round will advance to the next,
                            with a chance to taste victory. May the odds be ever in your f(l)avour. #OculusEatsAll
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Deep-Purple">
                    <h2>
                        <span>Footpool</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            8th, 9th Feb
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="assets/images/events/app/Footpool.jpg">
                        </div>
                        <div class="mc-description">
                            It is a fun,Life sized version of a combination of Football and Pool played among teams of 2
                            in a miniature Pool Table setting.
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>

        </div>
    </section>
</div>