<div style="background: linear-gradient(135deg, #1e1f33 15%, #354153 73%, #354153 85%);">
    <div class="navigation-bar">
        <div class="logo" style="cursor: pointer;" (click)="toHome()">
            <h1 style="color: white;">Oculus</h1>
        </div>
        <div class="open-nav" (click)="onOpenNav()">
            <div class="nav-burger">
                <img src="assets/images/menu.png">
            </div>
            <div class="nav-text">Menu</div>
        </div>
    </div>
    <section class="container">
        <div class="page-header">
            <h1 style="padding: 15px;text-transform: uppercase;font-family: 'Gallow Tree';color: #6FAFAB;text-align: center;">Performing Arts</h1>
            <br>
            <br>
        </div>
        <div class="row active-with-click">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Red">
                    <h2>
                        <span>Aelaan-E-Jung</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            8th February
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img id="hack" class="img-responsive" src="assets/images/events/app/AEJ.jpg">
                        </div>
                        <div class="mc-description">
                            Aelaan-E-Jung is an inter college dance competition where enthusiastic dancers from all over
                            Mumbai compete for their glory. All the event coordinators work in harmony to satisfy the
                            demands of the participants and synchronise effectively for better execution of event. The
                            winner of the competition is finally decided by Judges, and the participants are judged
                            based on
                            their creativity, expression, style and attitude. The event gives a platform for emerging
                            dance
                            groups to showcase their talent. But at last only one wins the title and hearts of millions
                            with
                            their talent.
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Pink">
                    <h2>
                        <span>Sargam</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Finals : 7th February<br>
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="codatron" class="img-responsive" src="assets/images/events/app/Sargam.jpg">
                        </div>
                        <div class="mc-description">
                            SARGAM is an Intercollegiate solo and duet singing competition curated for budding
                            vocalists.
                            Come forth to exhibit your talent in diverse genres of music before an esteemed panel of
                            judges
                            with an amazing opportunity to take part in an enthralling online contest. Winners of the
                            event
                            and the online contest will be felicitated with exciting gifts and prizes.


                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Purple">
                    <h2>
                        <span>War of Branches</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            8th February
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="assets/images/events/app/WOB.jpg">
                        </div>
                        <div class="mc-description">
                            Love your branch? Want to see it bask in the glory of winning the SPIT CUP? You've come to the right event. War of Branches is a dance competition among the five branches of our very own college, in which anyone who loves dancing gives it all for their branch! Win it and get a step closer to being the best branch of the year! Not just that, you hold a chance to get exciting vouchers too!

                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Deep-Purple">
                    <h2>
                        <span>Carnival</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            9th February
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="assets/images/events/app/Carnival_2.jpg">
                        </div>
                        <div class="mc-description">
                            Fashion has now become the part and parcel of today's world.
                            <b>Carnival</b> The Fashion Runway gives you a chance to channelize your inner supermodels
                            and
                            showcase them to the world.
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            
        </div>
    </section>
</div>