
<section class="container">
    <div class="page-header">
        <h1 style="padding: 15px;">Performing Arts</h1>
    </div>
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Hackathon</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        1st,2nd Feb
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img id="hack" class="img-responsive" src="../../../../assets/images/events/Hackathon.jpeg">
                    </div>
                    <div class="mc-description">
						Following tradition, CSI-SPIT is back with the annual "SPIT Hackathon 2020".

						This year it will be held in accordance with the official techno-cultural fest of SPIT - Oculus 2020.
						
						We invite all innovators and techno geeks to come and get their creativity going.
						
						With a great team and skilled panel of judges, this hackathon will be an ideal platform to put your knowledge to use and network with your peers.
						
						Team Size : 2-4 Members
						
						Domains : Will be declared soon!                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink">
                <h2>
                    <span>Codatron</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        8th, 9th Feb
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="codatron" class="img-responsive" src="../../../../assets/images/events/Codatron.jpg">
                    </div>
                    <div class="mc-description">
                        He has won two Academy Awards, for his roles in the mystery drama Mystic River (2003) and the biopic Milk (2008). Penn began his acting career in television with a brief appearance in a 1974 episode of Little House on the Prairie ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Purple">
                <h2>
                    <span>VSM</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        8th, 9th Feb
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../../../assets/images/events/VSM.JPG">
                    </div>
                    <div class="mc-description">
                        He rose to international fame with his role as the Man with No Name in Sergio Leone's Dollars trilogy of spaghetti Westerns during the 1960s ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
		</div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep-Purple">
                <h2>
                    <span>Capture The Flag</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        8th, 9th Feb
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1064784148%2F960x0.jpg%3Ffit%3Dscale">
                    </div>
                    <div class="mc-description">
                        He has been known for his versatile portrayals of antiheroes and vulnerable characters.[3] He won the Academy Award for Kramer vs. Kramer in 1979 ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Capture The Flag</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        8th, 9th Feb
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1064784148%2F960x0.jpg%3Ffit%3Dscale">
                    </div>
                    <div class="mc-description">
                        He has been known for his versatile portrayals of antiheroes and vulnerable characters.[3] He won the Academy Award for Kramer vs. Kramer in 1979 ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        
	</div>
	
  <!-- Burger menu Icon -->
  <div class="open-nav" (click)="onOpenNav()" >
    <div class="nav-burger">
        <img src="assets/images/menu.png">
    </div>
    <div class="nav-text">Menu</div>
</div>
</section>

