<div class="navigation-bar">
    <div class="logo">
        <h1 class="display-4">IMG</h1>
    </div>
    <div class="open-nav" (click)="onOpenNav()">
        <div class="nav-burger">
            <img src="assets/images/menu.png">
        </div>
        <div class="nav-text">Menu</div>
    </div>
</div>

<div class="main-event">
    <div class="main-event-img">
        <img src="assets/images/oculus-favicon.png">
    </div>
    <div class="main-event-list">
        <div class="event">
            <div class="event-img"></div>
            <div class="event-txt"> </div>
        </div>        
    </div>
</div>