<div class="navigation">
    <div class="nav-ad">
        <div (click)="onClose()" class="logo-txt">
            <h1 class="display-1" style="color: #40517D;">Oculus 2020</h1>
            <h1 style="color: #40517D;">7<sup>th</sup>,8<sup>th</sup>,9<sup>th</sup> February</h1>
        </div>
        <div>
            <h3 style="text-transform: uppercase;color: #40517D;">A 3-Day Event <br>You don't<br> want to miss</h3>
            <br>
            <p style="color: #40517D;padding-right: 2em;">Located throughout the Cortex campus, Murmuration features
                influential speakers, national
                thought-leaders, cutting-edge music performances, maker expo, juried art competition, and more.
            </p>

        </div>
        <div class="footer-social-icons">
            <a href="https://www.facebook.com/OculusSeesAll/" target="__blank">
                <i class='fab fa-facebook-f' style='font-size:24px;color:#40517D;margin-right: 1em;'></i>
            </a>
            <a href="https://mobile.twitter.com/OculusSeesAll" target="__blank">
                <i class='fab fa-twitter' style='font-size:24px;color:#40517D;margin-right: 1em;'></i>
            </a>
            <a href="https://www.instagram.com/o.c.u.l.u.s_s.p.i.t/" target="__blank">
                <i class='fab fa-instagram' style='font-size:24px;color:#40517D;margin-right: 1em;'></i>
            </a>
            <a href="https://www.linkedin.com/company/oculusseesall/" target="__blank">
                <i class='fab fa-linkedin-in' style='font-size:24px;color:#40517D;margin-right: 1em;'></i>
            </a>
            <a href="https://www.youtube.com/channel/UCm5gXAKIwUQTuGngoGlM4pg" target="__blank">
                <i class='fab fa-youtube' style='font-size:24px;color:#40517D;margin-right: 1em;'></i>
            </a>
        </div>
    </div>
    <div class="nav-list-wrap">
        <div class="nav-list">
            <a class="link1" (click)="onHomeClick()">
                <h1>HOME</h1>
            </a>
            <a class="link2" (click)="onAboutUsClick()">
                <h1>ABOUT US</h1>
            </a>
            <a class="link3" (click)="onEventsClick()"> 
                <h1>EVENTS</h1>
            </a>
            <a class="link4" (click)="onSponsorsClick()">
                <h1>SPONSORS</h1>
            </a>
            <a class="link5" href="" target="__blank">
                <h1>TRAILER</h1>
            </a>
        </div>
    </div>
</div>

<div class="close-nav" (click)="onClose()">
    <div class="nav-burger">
        <img src="assets/images/cross.png">
    </div>
    <div class="nav-text">Close</div>
</div>