/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Gallow Tree';
    src: url('/assets/fonts/GallowTree-Regular.otf');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}