    
    
    <div id="fullpage">
        <!-- Page 4 Starts here -->
        <section class="section s1">
            <div class="div1" class="floating">
            <span class="slanted" id="pagetitle">About Us</span>
            <pre class="slanted">Oculus, the perfect synergy of
Cultural Activities 
and technological Innovation.
7th,8th and 9th of Februrary
It is an avenue to be comforted from 
the routine life and to embrace the fun
and frolic embedded with 
tantalizing professional performances 
along with an addressal to the 
social responsibility 
with its underlying
social theme.
        </pre>
    </div>
          </section>

        <section class="section s4" >
            <h1 id="t-h1">Our Team</h1>
            <div id="t-initial" class="floating">
                <div class="t-head" id="t-ch-1">
                    <div class="t-initial-header">
                        <p>Chairs</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-2">
                    <div class="t-initial-header">
                        <p>Creative</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-3">
                    <div class="t-initial-header">
                        <p>Technical</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-4">
                    <div class="t-initial-header">
                        <p>Events</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-5">
                    <div class="t-initial-header">
                        <p>Hospitality</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-6">
                    <div class="t-initial-header">
                        <p>Markating</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-7">
                    <div class="t-initial-header">
                        <p>Operations</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-8">
                    <div class="t-initial-header">
                        <p>Public Relation</p>
                    </div>
                </div>
                <div class="t-head" id="t-ch-9">
                    <div class="t-initial-header">
                        <p>Photography</p>
                    </div>
                </div>
            </div>

        </section>
    </div>

